.header {
    padding: 0;
    margin: 0;
    height: 40px;
    z-index: 30;
    flex-shrink: 0;

    .header-content {
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: rgba(255, 255, 255);
        border: 1px solid rgba(230, 230, 235);
        height: 100%;
        line-height: 1rem;
        font-weight: 600;
        display: flex;
        align-items: center;

        .icon {
            height: 1.25rem;
            margin-right: 0.25rem;
        }

        .title {
            font-size: 1rem !important;
            line-height: 1.5rem !important;
        }
    }

    .header-center {
        flex-grow: 1;
        display: flex;
        justify-content: center;

        .item {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin: 0 5px;
        }
    }

    .header-right {
        flex-shrink: 1;
        display: inline-flex;
        align-items: center;

        .action {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 34px;

            &:hover {
                background-color: rgba(82, 119, 215);
            }
        }
    }

    .drag-hover {
        background-color: rgba(0, 0, 0, 0);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}