.menu-item {
    display: flex;
    align-items: center;

    // gap: 8px;
    flex-direction: column;
    justify-content: center;
    min-width: 40px;
    line-height: 16px;

    // height: 54px;

    .icon {
        height: 16px;
        width: 16px;
        line-height: 16px !important;
        opacity: 0.85;

        span {
            line-height: 14px !important; 
        }
    }

    .text {
        opacity: 1;
        display: inline;
        text-align: center;
        font-size: 12px;
        height: 14px;
        line-height: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        margin: 0;
        padding: 0;
        margin-block-start: 4px;
    }
}